{{> post-info post}}

<div class="post-content"> {{post_content}} </div>
<br />
<br />
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>
    {{#if loggedIn}}
    <div>
        <button type="submit">add comment</button>
    </div>
    {{else}}
    <div>
        <a href="/login" class="login-redirect">add comment</a>
    </div>
    {{/if}}
</form>

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}