* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #C9D0D7;
    background-color: #0E1116;
}

a {
    text-decoration: none;
    color: #6BA4F8;
    font-weight: default;
    transition: color .2s;
}

a:hover {
    color: #3486eb;
}

button,
.login-redirect,
#add-post-1 {
    background-color: #22262C;
    border: 1px solid;
    border-color: #373B41;
    padding: 1%;
    color: #C9D0D7;
    font-weight: lighter;
    transition: color .4s;
    cursor: pointer;
    border-radius: 5px;
}

button:hover,
.login-redirect:hover,
#add-post-1:hover {
    background-color: #31363C;
    color: #CAD1D8;
    border-color: #8D949D;
}

.post-list {
    margin: 0;
    padding: 0;
}

textarea,
input {
    margin-top: 2px;
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #31363C;
    background-color: #020408;
    color: #707680;
}

textarea:focus,
input:focus {
    outline: none;
    border: 1px solid #679DED;
    background-color: #0E1116;
    color: #CAD0D8;
}

textarea {
    min-width: 40%;
    min-height: 100px;
}

form>div {
    margin-bottom: 2%;
}

form label {
    display: block;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.wrapper h1 a {
    color: #F1F6FB;
    font-size: larger;
}

.wrapper h1 a:hover {
    color: #BABBBD;
}

header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
}

header h1 {
    font-size: 1em;
}

nav a {
    padding: 10px;
}

main {
    flex: 1;
    padding: 2% 4%;
}

.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
}

.btn-no-style:hover {
    background: none;
    color: #3486eb;
}

.delete-post-btn {
    background-color: #d41414;
}

.delete-post-btn:hover {
    background-color: #ff643d;
}

.post {
    margin-bottom: 2%;
    line-height: 150%;
}

.post-content {
    color: rgb(224, 132, 71);
}

.date {
    color: rgb(218, 105, 228);
}

.post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
}

.edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
}

.comment-form {
    margin-bottom: 5%;
}

.comment {
    padding: 1%;
    margin-bottom: 1%;
}

.comment:nth-child(odd) {
    background-color: #020408;
    border: 2px solid #31363C;
}

.comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
}

.new-post-form input {
    width: 300px;
}

.edit-post-form {
    margin-bottom: 5%;
}

.edit-post-fields {
    display: flex;
    flex-direction: column;
}

footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
}